/* Developed for DevMike.me by Micheal Waldrup
https://github.com/waldrupm */

/* DEFAULTS */
html {
  background-color: #262933;
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1152px;
  }
}



/* UNIVERSAL */
.is-subtle-background {
  background-color: #393D4D;
}

.has-text-bright {
  color: #f2f2f2;
}

.has-text-subtle {
  color: #D4D4D4;
}

a.navbar-item:hover {
  background-color: #393D4D;
  color: #E0A03F;
}

a.navbar-item:active {
  background-color: #393D4D;
  color: #E0A03F;
}

.limit-width {
  max-width: 500px;
  margin: 0 auto;
}

.button {
  background-color: #393D4D;
  color: #f2f2f2;
  border-color: #E0A03F;
  padding-left: 2em;
  padding-right: 2em;
}

.button:hover {
  background-color: #E0A03F;
  color: #393D4D;
  border-color: #393D4D;
}

.is-horizontal-center {
  justify-content: center;
}

.is-vertical-center {
  align-items: center;
}

.sectionTitle {
  color: #E0A03F;
  font-size: 54;
  font-weight: 500;
}

.hideScroll {
  overflow-y: hidden;
}


/* NAVIGATION */
.nav-logo {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  font-size: 18px;
}

.stroke-under {
  border-bottom: 1px solid #E0A03F;
}

.navbar-burger {
  color: #f2f2f2;
}

a.navbar-burger:hover {
  color: #E0A03F;
}

.is-active div.navbar-end {
  background-color: #393D4D;
  color: #f2f2f2;
}



/* HERO */
.title {
  color: #E0A03F;
  font-weight: 700;
  font-size: 64px;
}

.subtitle {
  color: #F2F2F2;
  font-weight: 400;
  font-size: 36px;
}

.hero-buttons {
  padding-top: 1.5rem;
}

@media screen and (min-width: 769px),print{
  .hero.is-medium .hero-body{
    padding-bottom: 6rem;
    padding-top: 9rem;
  }
}

/* SKILLS */
.skillCard {
  background-color: #393D4D;
  border: 1px solid #f2f2f2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad-card {
  padding-left: .5rem;
  padding-right: .5rem;
}

/* ABOUT ME */
.is-my-photo {
  border: 1px solid #f2f2f2;
}

p.about-me {
  font-family: 'Open-sans', sans-serif;
  color: #f2f2f2;
  margin-bottom: 1rem;
}

/* PROJECTS */

.project-card {
  background-color: #262933;
  box-shadow: none;
  color: #f2f2f2;
  font-weight: 700;
  text-align: center;
}

.project-card .card-content {
  padding: .5rem;
}

.project-text {
  font-weight: 500;
  font-style: italic;
  color: #b2b2b2;
}

a.project-link {
  color: #f2f2f2;
}
a.project-link:hover {
  color: #E0A03F;
  text-decoration: underline;
}
a.project-link:active {
  color: #D4D4D4;
}

/* CONTACT FORM */
a.form-button {
margin-bottom: 1rem;
width: 50%;
}

.label {
  color: #f2f2f2;
}

.control.has-icons-left .icon {
  color: #E0A03F;
}

/* FOOTER */
.footer {
  background-color: #E0A03F;
  color: #262933;
}

p.footer-text {
  font-weight: 700;
}